name: Build APK

on:
  workflow_dispatch:
    inputs:
      appName:
        description: "APP Name"
        required: true
      packageName:
        description: "Package Name"
        required: true
      webUrl:
        description: "H5 URL"
        required: true
      adjustToken:
        description: "Adjust Token"
        required: true
      eventToken:
        description: "Adjust Event Token"
        required: true
      firebasePath:
        description: "Firebase JSON Download URL"
        required: false
      iconPath:
        description: "ICON PNG Download URL"
        required: false

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Download Firebase JSON if provided
        if: ${{ github.event.inputs.firebasePath != '' }}
        run: |
          mkdir -p app/google-services
          curl -L "${{ github.event.inputs.firebasePath }}" -o app/google-services/google-services.json
          echo "Firebase JSON downloaded."

      - name: Replace Launcher Icon if provided
        if: ${{ github.event.inputs.iconPath != '' }}
        run: |
          mkdir -p app/src/main/res/mipmap-xxxhdpi
          curl -L "${{ github.event.inputs.iconPath }}" -o app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
          echo "Launcher icon replaced."

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version: "17"

      - name: Update Android Strings
        run: |
          sed -i "s|DEFAULT_APP_NAME|${{ github.event.inputs.appName }}|g" app/src/main/res/values/strings.xml
          sed -i "s|https://default.com|${{ github.event.inputs.webUrl }}|g" app/src/main/res/values/strings.xml
          sed -i "s|DEFAULT_ADJUST_TOKEN|${{ github.event.inputs.adjustToken }}|g" app/src/main/res/values/strings.xml
          sed -i "s|DEFAULT_EVENT_TOKEN|${{ github.event.inputs.eventToken }}|g" app/src/main/res/values/strings.xml

      - name: Update Package Name
        run: |
          sed -i "s|com.example.app|${{ github.event.inputs.packageName }}|g" app/src/main/AndroidManifest.xml
          sed -i "s|com.example.app|${{ github.event.inputs.packageName }}|g" app/build.gradle

      - name: Build APK
        run: ./gradlew assembleRelease

      - name: Upload APK Artifact
        uses: actions/upload-artifact@v3
        with:
          name: release-apk
          path: app/build/outputs/apk/release/*.apk
